*{
    margin: 0;
    padding: 0;

/* website header css */
}
/* .container{
    width: 1400px;
} */
.header-logo img{
    width: 100px;
    padding: 5px;
}
.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #424141;
    height:65px ;
}
.header-manue{
    display: flex;
}
.header-manue li{
    list-style: none;
    margin-right: 17px;
    font-size: 18px;
    color: #fff;
    padding: 5px;
    transition: .5s;
    cursor: pointer;
}
.header-manue li:hover{
    color: aqua;
}

/* baner css */
.baner-container{
    height: 625px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color:#1e1e1e ; */
    background-image: url("images/background.png") ,linear-gradient(45deg,rgb(8, 8, 8),rgb(53, 53, 53));
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    font-size: 54px;
    font-weight: bold;
    color: #fff;
}

.baner-left p{
    font-size: 18px;
    margin: 15px 0 0 0;
    color: #fff;
}
.c-button{
    padding: 13px 20px;
    margin-top: 20px;
    background-color: red;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.b-img{
    width: 300px;
}